@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@600&display=swap');
/* Add Folklore Font */
@font-face {
  font-family: 'Folklore';
  src: url('./assets/lng/Folklore.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Add Ben Brown Font */
@font-face {
  font-family: 'Ben Brown';
  src: url('./assets/lng/benbrown-demo.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-handwriting {
  font-family: 'Kalam', cursive;
}

.font-folklore {
  font-family: 'Folklore', sans-serif;
}

.font-ben-brown {
  font-family: 'Ben Brown', cursive;
}
